.myHeader {
    background-color: black;
    border-radius: 10px;
    text-align: center;
    color: white;
    position: relative;
    height: 120px;
}
img {
    position: absolute;
    left: 22%;
    top: 10%;
    height: 100px;
    border-radius: 10px;

}
#alarmTime{
    border-radius: 10px;
    padding: 12px 40px 12px 15px;
}
body {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);;
    border-radius: 200px;
    
}
em {
    font-size: 25px;
}

#alarms{
    color: aliceblue;
    font-size: 38px;
    text-decoration: underline;
}

#timezoneSelect{
    border-radius: 25px;
    padding: 12px 40px 12px 15px;
}

#watchlist {
    display: flex;
    align-items: center ;
    justify-content: center;
    
}
#watcc{
    color: aliceblue;
    font-size: 38px;
    text-decoration: underline;
}
.timeZonecard{
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    margin: 3px;
    padding: 3px;
    font-size: large;

}

#myTime{
    font-size: 30px;
}